body{
  position: relative;
  background-color: black;
}
table {
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
  }
th, td {
  border: 1px solid grey;
}
.alive{
  background-color: green;
}
.container{
  position: absolute;
  left:50%;
  margin-top: 10px;
}
.material-icons{

  background-color: black;
  color:green;
}
